.sidebar{
    position:fixed;
    width: 18%;
    left: 78%;
}

.menu_elem{
    margin-top: -5%;
    display: flex;
    align-self:center;
    column-gap: 3%;
    cursor: pointer;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }