.contenuto{
    width: 65%;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.libro{
    align-items: center;
    width: 25%;
    margin-left: 2%;
}

.element-row{
    display: flex;
}